<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<main class="main">
  <div class="content">
    <h1>h1 du composant app</h1>
    <!-- Interpolation -->
    <H2>{{ title }}</H2>
    <!-- Property binding -->
    <H2 [innerHtml]="titleH2" [className]="titleH2"></H2>
    <button (click)="displayLog()">Afficher log</button>

    <!-- le $event permet de transmettre l'Event -->
    <!-- <input type="text" (input)="getValueInput($event)" /> -->
    <input [(ngModel)]="titleH2" type="text" />
    <!-- Two-way binding -->

    <input [value]="titleH2" type="text" />
    <!-- Two-way binding -->

    <!-- <app-button1 [messageEnfant]="titleH2"></app-button1> -->
    <app-button1 (messageParent)="handleEvent($event)"></app-button1>
  </div>

  <!-- @ViewChildren -->
  <div class="test">Content of child 1</div>
  <div #child2>Content of child 2</div>
</main>

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder  * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<router-outlet />
